.page {
	align-items: center;
	justify-items: center;
	min-height: 100svh;
	padding: 2.5rem;
	background-image: url('/background.png');
	background-attachment: fixed;
	background-position: 50% 60%;
	gap: 10rem;
}

.main {
	display: flex;
	flex-direction: row;
	gap: 4rem;
}

.footer {
	display: flex;
	margin-top: 4rem;
	color: grey;
}

/* If I had more time: Add screen sizings and reactivity to the page*/
